# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/

# Node
node_modules/
dist/

# DB
mysql_data/
backend/ocr.db

# Local backup
.local_backup/

# Uploads
backend/uploads/
