fastapi
uvicorn[standard]
sqlalchemy
celery[redis]
pydantic
python-dotenv
pymysql
python-jose[cryptography]
passlib[bcrypt]
Pillow
opencv-python-headless
numpy<2
openpyxl
python-multipart
paddleocr==2.7.0.3
pydantic-settings
